---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <a class="back-link" href="{{ '/' | relative_url }}">&lsaquo; All write-ups</a>

  <header class="post-header">
    <p class="eyebrow">Write-up</p>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        · <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author" itemprop="name">{{ page.author }}</span></span>
      {%- else -%}
        · <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author" itemprop="name">{{ site.author.name | default: site.title }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
